.items {
	@apply mb-6 rounded-md;
	box-shadow: inset 0 -4rem 4rem rgba(0, 0, 0, .1);
}
.checkout {
	@apply rounded-md ;
	box-shadow: inset 0 4rem 4rem rgba(0, 0, 0, .05);
}
.bill-line {
	@apply flex justify-between items-center p-4 text-lg;
}
.bill-line input {
	@apply rounded-md border-none;
	width: 6ch;
	text-align: right;
}